(
	{
		name = Root;
		children = ("Home","Person","Client");
	},
	{
		name = "Home";
		action = "session.navController.homeAction";
		children = ("CreatePerson");
	},
	{
		name = CreatePerson;
		action = "session.navController.createPersonAction";
	},
	{
		name = Client;
		action = "session.navController.listClientAction";
		children = ("CreateKids");
	},
	{
		name = CreateKids;
		action = "session.navController.createClientAction";
	}

)